docs/.readthedocs.yml
docs/api/modules.rst
docs/api/Pymagra.in_out.rst
docs/api/Pymagra.plotting.rst
docs/api/Pymagra.rst
docs/api/Pymagra.utilities.rst
docs/build/doctrees/environment.pickle
docs/build/doctrees/index.doctree
docs/build/doctrees/Pymagra/Pymagra.__main__.doctree
docs/build/doctrees/Pymagra/Pymagra.data.data.doctree
docs/build/doctrees/Pymagra/Pymagra.data.doctree
docs/build/doctrees/Pymagra/Pymagra.data.geometrics.doctree
docs/build/doctrees/Pymagra/Pymagra.doctree
docs/build/doctrees/Pymagra/Pymagra.in_out.communication.doctree
/docs/build
docs/docs/make.bat
docs/docs/Makefile
/docs/docs
docs/environment.yml
docs/make.bat
docs/Makefile
/docs/source
/Pymagra/__pycache__
/Pymagra/data/__pycache__
/Pymagra/in_out/__pycache__
/Pymagra/inversion/__pycache__
/Pymagra/noarch/.cache
/Pymagra/noarch
/Pymagra/plotting/__pycache__
/Pymagra/PyMaGra.egg-info
/Pymagra/utilities/__pycache__
Example/ReadMe_examples.docx
/zeyen
/workflow
/recipes
/plotting
/in_out
/doc/build
/doc
pymagra_old_snippets.py
/utilities
